#header  {
  Display: inline;
}

body a{
    color: black;
    text-decoration: none;
    font-family: arial;
    display:inline;
}

ul{
    list-style-type: none;
    margin 0;
    padding 0;
    display:inline;
}

header li a{
    text-decoration: none;
    top: 0;
    padding: 8x;
    float: left;
    padding: 0 10px;
}

body section{
    margin: 10% auto;
    width: 40%;
    
    
}
.searchbar{
    display: block;
    position: relative;
    width: 545px;
    margin-right: 50%;
    border-radius: 24px;
    border: 1px solid # dfe1e5;    
    height: 30px;
}
.buttons{
    display: inline;
    position:relative;  
    border: 5px solid #f2f2f2;
    padding: 10px 0;
    margin-top: 20px;
}
footer{
    display: block;
    position:fixed;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    line-height: 50px;
    padding: 0;
    

}
.button{
    border: 0 10px;
    border-color: transparent;
    float:right;
}
footer a:link:{
    padding: 30px;
}

.country{
    display:block;
}
#buttons{
    margin-left: 30%;
}